body {
	background-color: #52526d
}

a,
a:hover {
	color: inherit;
}

img {
	max-height: 100%;
	border-radius: 15px;
	border: 3px dashed black;
}

.container {
	margin-top: 2em;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col-md-3,
.col-md-4,
.row {
	padding: 0;
	margin: 0;
}

.col-md-3 {
	height: auto;
	margin: 1em 0.4em;
	padding: 1em;
	border: 3px solid black;
	border-radius: 15px;
}

.col-md-4 {
	height: 100px;
}

.col-md-7 {
	margin-left: 1em;
}

.running {
	background-color: #3d6020;
	color: white;
}

.notRunning {
	background-color: #7f0707;
	color: black;
}

