body {
	background-color: #52526d
}

a,
a:hover,
a:visited {
	color: inherit;
}

img {
	max-height: 100%;
	border-radius: 100%;
}

.title {
	text-align: center;
}

.container {
	margin-top: 2em;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col-md-8 {
	height: auto;
	padding: 1em;
	border: 3px solid black;
	border-radius: 15px;
	max-width: 100%;
}

.col-md-2 {
	height: 50px;
}

.col-md-2,
.col-md-4 {
	display: flex;
	align-items: center;
}

.twitchName {
	font-size: 2em;
}

.game {
	font-size: 1.4em;
}

.running {
	background-color: #3d6020;
	color: white;
}

.notRunning {
	background-color: #7f0707;
	color: white;
}

.undefined {
	background-color: #302323;
	color: white;
}

